<!-- views/partials/navbar.ejs -->

<div class="topbanner">
  <div class="crossbase">
    <img src="crosshair.png" alt="crosshair" class="cross">
    <h1>Killbase</h1>
  </div>

  <div class="navlinksright">
    <ul class="navlinkstop">
      <li><a href="/">Home</a>|</li>
      <li><a href="/assassins">Assassins</a>|</li>
      <li><a href="/contracts">Contracts</a></li>
    </ul>
  </div>
</div>
